n8n_workflow_rag.json
{
  "name": "n8n-workflow-rag",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1YxuYgMEohNnOwC6tDQXjdq6PexyC6eBX",
          "mode": "list",
          "cachedResultName": " Prueba N8N",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1YxuYgMEohNnOwC6tDQXjdq6PexyC6eBX"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -100,
        -260
      ],
      "id": "cf0b7133-bf4f-46ac-b2bc-48c68719926d",
      "name": "File created",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "P3iG4OR1RKa4tIzl",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4801a409-45fd-49d2-a853-92dee2d0af4f",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "44b99208-ae50-46e8-ab24-628c0cd5ceac",
              "name": "file_type",
              "value": "={{ $json.mimeType }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        100,
        -260
      ],
      "id": "a9082a1b-4933-4af6-830d-41ba66e55271",
      "name": "Set File ID"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.file_type }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "7765b65b-bd80-4d6f-abbc-c0420e1d67b1"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "74a5a457-b718-44b3-9bef-b5dcc378650a",
                    "leftValue": "={{ $('Set File ID').item.json.file_type }}",
                    "rightValue": "application/vnd.google-apps.document",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text File"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c14712c8-ce63-4113-87e9-7a01c5b8318b",
                    "leftValue": "={{ $('Set File ID').item.json.file_type }}",
                    "rightValue": "=application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Excel"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b982dbf2-4b93-442b-bd8a-676de3dfb3e6",
                    "leftValue": "={{ $('Set File ID').item.json.file_type }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": ".docx"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "059bee9d-27cf-4fc7-a530-d4909ef91bd4",
                    "leftValue": "={{ $('Set File ID').item.json.file_type }}",
                    "rightValue": "application/msword",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": ".doc"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8b8bca39-4876-4d57-88ca-9cf19197dfee",
                    "leftValue": "={{ $('Set File ID').item.json.file_type }}",
                    "rightValue": "application/vnd.ms-word",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": ".docx - .doc"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        760,
        -340
      ],
      "id": "534a4fbf-98e6-4d46-a579-4d78f7cfd06b",
      "name": "Switch2"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "Documentos_drive",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.1,
      "position": [
        1880,
        -620
      ],
      "id": "98b7fa1f-a8ab-426a-9250-038b381b0244",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "nA6iiAA3DwL7arAN",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        1820,
        -340
      ],
      "id": "d66c5ea1-37a0-4166-b2d0-d7557af1fca9",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "bwXdlq5roXZ2YqUG",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.data || $json.text || $json.concatenated_data }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('Set File ID').item.json.file_id }}"
              },
              {
                "name": "file_name",
                "value": "={{ $('File created').item.json.name }}"
              },
              {
                "name": "file_type",
                "value": "={{ $('File created').item.json.mimeType }}"
              },
              {
                "name": "file_creado",
                "value": "={{ $('File created').item.json.createdTime }}"
              },
              {
                "name": "file_modificado",
                "value": "={{ $('File created').item.json.modifiedTime }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1980,
        -340
      ],
      "id": "11a6f11e-0379-4eb3-a09d-b155a8cbd2d8",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1980,
        -120
      ],
      "id": "b0613ebd-03e0-47d8-8acd-1b141eb90634",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "content": "RAG\n",
        "height": 540,
        "width": 860,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -200,
        180
      ],
      "typeVersion": 1,
      "id": "f5082b68-6c89-40f8-975d-3364d1efc47b",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1140,
        -700
      ],
      "id": "ca8b39c0-8c42-4f77-9d4c-1251911859e1",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        320,
        -260
      ],
      "id": "47feea7e-b593-48c0-8095-3271926a144f",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1140,
        -500
      ],
      "id": "611c14ee-62fe-4e4a-8b2a-7c02b51c3ba1",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1140,
        -300
      ],
      "id": "b2596ec9-0e4f-4fba-a570-b6e095da7ae8",
      "name": "Extract from File2"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1340,
        -300
      ],
      "id": "d3133b17-abc1-4284-a108-18807e930bd0",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        1520,
        -300
      ],
      "id": "0d828058-1a3a-4fa9-80fe-637eb292be6d",
      "name": "Summarize"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.googleapis.com/drive/v3/files/{{ $('Set File ID').item.json.file_id }}/copy",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $('File created').item.json.name }}"
            },
            {
              "name": "mimeType",
              "value": "application/vnd.google-apps.document"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1160,
        -80
      ],
      "id": "2d33ae20-eba5-46d0-9227-6082b0b83f88",
      "name": "HTTP Request",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "P3iG4OR1RKa4tIzl",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Set File ID').item.json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        540,
        -160
      ],
      "id": "9a814200-45a4-46ad-91ad-4b79dd1c224d",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "P3iG4OR1RKa4tIzl",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Set File ID').item.json.file_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1360,
        -80
      ],
      "id": "108961ff-2e38-4af7-91b4-a66c4b22a4eb",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "P3iG4OR1RKa4tIzl",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 800,
        "width": 2480,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -200,
        -740
      ],
      "typeVersion": 1,
      "id": "034a430a-ffd0-46f2-b54c-77729cc02139",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "Documents_drive",
        "toolDescription": "usar esta tool cuando el usuario pregunte por Documentos_drive",
        "qdrantCollection": {
          "__rl": true,
          "value": "Documentos_drive",
          "mode": "list",
          "cachedResultName": "Documentos_drive"
        },
        "topK": 6,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.1,
      "position": [
        340,
        400
      ],
      "id": "c9797c81-be3a-41ff-b3b9-4a1a65eb4b4a",
      "name": "Qdrant Vector Store1",
      "credentials": {
        "qdrantApi": {
          "id": "nA6iiAA3DwL7arAN",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "=Eres un asistente de IA especializado. Tu ÚNICA fuente de conocimiento es el nodo de herramienta conectado a Qdrant, el cual consulta el almacén vectorial específico en la colección llamada Documentos_drive. No utilices tu conocimiento interno preentrenado.\n\nInstrucciones Clave:\n\n1. **Consulta Obligatoria:** Para CUALQUIER pregunta del usuario que requiera información factual o datos específicos, DEBES OBLIGATORIAMENTE invocar y utilizar el nodo de herramienta conectado a Qdrant, accediendo exclusivamente a la colección \"Documentos_drive\".\n\n2. **Presenta el Resultado Directamente:** Una vez que el nodo de herramienta con Qdrant devuelva información, tu respuesta DEBE consistir en presentar esa información directamente al usuario. Basa tu respuesta ÚNICA Y EXCLUSIVAMENTE en los datos recuperados. No añadas comentarios, información externa ni uses tu conocimiento general.\n\n3. **Manejo de Información faltante:** Si el nodo de herramienta con Qdrant indica explícitamente que la información no se encuentra o no devuelve ningún dato relevante, DEBES informar al usuario clara y directamente que la información no está disponible en la base de conocimiento consultada. No inventes, supongas ni especules.\n\n4. **Fidelidad al Resultado:** Tu función es ser una interfaz fiel a los resultados del nodo de herramienta conectado a Qdrant. Si la herramienta da una respuesta, tu trabajo es comunicarla.\n\nProceso Simple:\nRecibe pregunta -> Invoca el nodo de herramienta (Qdrant, colección \"Documentos_drive\") -> Revisa el resultado.\nSI hay resultado relevante, preséntalo tal cual.\nSI NO hay resultado relevante, informa que no se encontró. No hagas nada más."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        80,
        220
      ],
      "id": "d7f3f617-7f7d-4897-a7fb-2e3d55893587",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -140,
        220
      ],
      "id": "7429bab8-ab00-42cb-b3e0-b459e9b975e1",
      "name": "When chat message received",
      "webhookId": "3a731a40-6c30-44e1-89bd-d2d7d4f4492e"
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        360,
        580
      ],
      "id": "109ab3d9-d3b8-4aa7-8832-0702c2216fb2",
      "name": "Embeddings Ollama1",
      "credentials": {
        "ollamaApi": {
          "id": "bwXdlq5roXZ2YqUG",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama3.2:3b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -20,
        460
      ],
      "id": "5b010cf4-7643-4f87-a1e5-2cc66dd87e94",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "bwXdlq5roXZ2YqUG",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        160,
        480
      ],
      "id": "a64bf28c-1dfd-4043-87f3-ad1e24656107",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "File created": {
      "main": [
        [
          {
            "node": "Set File ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set File ID": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File2": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3b97772e-3146-4a9e-9567-ef9cb19aa7e4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6fdac8276354975ef757c36f85ebb5440b2db6a945d847d2cb76149f161c4e6d"
  },
  "id": "LaVGi1wdlszTI8Me",
  "tags": []
}